In [99]:
#import dependencies
import pandas as pd
import csv

In [100]:
#file to Load
student_data_to_load="Resources\students_complete.csv"
school_data_to_load ="Resources\schools_complete.csv"

In [101]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [102]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [103]:
#District Summary

In [104]:
#Total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
print(school_count)

15

In [105]:
#Total number of students
student_count=len(school_data_complete["Student ID"])
print(student_count)

39170

In [106]:
#Total Budget for all districts
total_budget= sum(school_data_complete["budget"].unique())
total_budget

24649428

In [107]:
#Determine average math score
average_math_score = (school_data_complete["math_score"].mean())
average_math_score

78.98537145774827

In [108]:
#Determine avaerage reading score
average_reading_score = (school_data_complete["reading_score"].mean())
average_reading_score

81.87784018381414

In [109]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878